@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&family=Sedgwick+Ave+Display&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;

  margin: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #2e2e2d;
  padding: 0.5rem;
  color: #fff;
  border-bottom: 0.8rem solid #61aefa;
  gap: 55rem;
  position: sticky;
  top: 0;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.menu {
  margin-right: 7rem;
  font-size: 2rem;
  display: flex;
}

.orcas_white {
  height: 10rem;
  display: flex;
  justify-content: flex-start;
}

.list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  justify-content: flex-end;
}

.list a:hover {
  border-bottom: 3px solid #61aefa;
}

.banner {
  padding: 1.8rem;
}

.banner-content {
  width: 130rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.banner-content p {
  margin: 0 0.5rem;
}

.banner-content a {
  text-decoration: none;
  text-transform: uppercase;
}

.initial {
  color: #61aefa;
}

.current {
  color: #2e2e2d;
  padding: 0.5rem;
  text-transform: uppercase;
}

.title {
  background-color: #61aefa;
  height: 24.4rem;
  display: flex;
  align-items: end;
}
.title h1 {
  text-transform: uppercase;
  color: #fff;
}

.title-container {
  /* margin-bottom: 3rem; */
  font-size: 2.2rem;
}

/*----------------------------------------------------------*/

.autor-galery {
  color: #61aefa;
}

/*
.fotos{
  display: contents;
  border: 2px solid #000;
  border-radius: 10rem;
  background: linear-gradient(
  25deg, #61AEFA, #172854);
  margin-left: 10rem;
  display: grid;
  display: -webkit-b;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  }
*/

/* 
Estilo para las imágenes
  .fotos img {
  width: 100%;
  height: auto;
  }
*/

.autor-galery {
  margin-top: 3rem;
  margin-left: 11.6rem;
  font-weight: 700;
}

.section1-galery h2 {
  margin: 15rem 0 0;
  text-align: center;
  font-size: 28px;
  margin-right: 7rem;
  color: #232851;
}

.photos-galery div {
  margin: 16px;
  flex-basis: 180px;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
}

.photo-galery {
  background-color: white;
  transition: transform 0.7s;
}

.photo-galery:hover {
  transform: scale(1.2);
}

.container-galery {
  width: 1250px;
  margin: 7% auto;

  border-radius: 10px;

  /*
      overflow: hidden;
      box-sizing: border-box;
  */
}

.photos-galery {
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  /*
      margin-left: 0.5rem;
      margin-right: 3.8rem;
  */
}

.photos-galery div > img {
  max-width: 100%;
  border-radius: 1rem;
}

.video-galery {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 4rem;
}

.video-galery {
  grid-column: 3;
  padding: 2rem;
  margin: 16px;
  flex-basis: 180px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
  transition: transform 0.7s;
  background-color: white;
}

.video-galery:hover {
  transform: scale(1.2);
}
/*----------------------------------------------------------*/

.network {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#61aefa, #172854);
  padding: 3rem;
}

.network-content {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.network-content p {
  color: #fff;
}

.icons-network {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-network img {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #172854;
  padding: 5rem;
  color: #fff;
}

.info-pages {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.info-pages a {
  text-decoration: none;
  color: inherit;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
}

.info-content {
  display: flex;
  justify-content: center;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.phone-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-number img {
  margin: 0.5rem;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email img {
  margin: 3rem;
}

.direction {
  display: flex;

  justify-content: center;
  align-items: first baseline;
  margin: 1rem;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location p {
  margin: 1px;
}

.direccion img {
  margin: 2rem;
}

footer {
  background-color: #2e2e2d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.footer {
  text-align: center;
  padding: 1.2rem;
}

.footer p {
  color: #fff;
  text-transform: uppercase;
}
