@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&family=Sedgwick+Ave+Display&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  
  margin: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #2e2e2d;
  padding: 1.5rem;
  color: #fff;
  border-bottom: 0.8rem solid #61aefa;
  gap: 55rem;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.menu {
  margin-right: 7rem;
  font-size: 2rem;
  display: flex;
}

.orcas_white {
  height: 10rem;
  display: flex;
  justify-content: flex-start;
}

.list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  justify-content: flex-end;
}

.list a:hover{
  border-bottom: 3px solid #61aefa;
}

.banner {
  padding: 1.8rem;
}

.banner-content {
  width: 130rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.banner-content p {
  margin: 0 0.5rem;
}

.banner-content a {
  text-decoration: none;
  text-transform: uppercase;
}

.initial {
  color: #61aefa;
}

.current {
  color: #2e2e2d;
  padding: 0.5rem;
  text-transform: uppercase;
}

.title {
  background-color: #61aefa;
  height: 24.4rem;
  display: flex;
  align-items: end;
}
.title h1 {
  text-transform: uppercase;
  color: #fff;
}

.title-container {
  /* margin-bottom: 3rem; */
  font-size: 2.2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.developers {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}
.title-cards {
  font-size: 5rem;
  position: absolute;
  top: 7rem;
  color: #18123b;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.card {
  width: 200px;
  height: 300px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-image: url(https://scontent.feoh3-1.fna.fbcdn.net/v/t39.30808-6/358134029_759059122887215_8814767599724855584_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEu0fU4wUYsr56HgKnE_x7CFxvhPlBphxIXG-E-UGmHEibIARLdecqZUPnaJ5Pp9ZqD3AEPa9-6VemUKk1td40h&_nc_ohc=_6dfONWAHH8AX_qbxP4&_nc_ht=scontent.feoh3-1.fna&oh=00_AfCOumQrny1FGyqB2jv4o8GoGNVuLPLaVXvZNyV76AVisQ&oe=65475834);
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  align-items: center;

  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #61adfa48;
  backdrop-filter: blur(5px);
  color: #fff;
  border: 1px solid #172854;
  border-radius: 10px;
  font-size: 24px;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-card {
  color: #000000b3;
}
.icons-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.icons-card img {
  width: 30px;
}

.network {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#61aefa, #172854);
  padding: 3rem;
}

.network-content {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.network-content p {
  color: #fff;
}

.icons-network {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-network img {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #172854;
  padding: 5rem;
  color: #fff;
}

.info-pages {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.info-pages a {
  text-decoration: none;
  color: inherit;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
}

.info-content {
  display: flex;
  justify-content: center;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.phone-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-number img {
  margin: 0.5rem;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email img {
  margin: 3rem;
}

.direction {
  display: flex;

  justify-content: center;
  align-items: first baseline;
  margin: 1rem;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location p {
  margin: 1px;
}

.direccion img {
  margin: 2rem;
}

footer {
  background-color: #2e2e2d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.footer {
  text-align: center;
  padding: 1.2rem;
}

.footer p {
  color: #fff;
  text-transform: uppercase;
}
